__pycache__/
.DS_Store
.venv/
todo.py
/resource/public/innosetup/
/resource/home/user/
/resource/special/profile/settings.code-profile
/resource/special/profile/github-recovery-codes.txt
/resource/special/text/start.*
/resource/special/text/start_*.*
/resource/special/text/finish.*
/resource/special/text/finish_*.*
/resource/special/text/uninist.*
/resource/special/text/uninist_*.*